@import "src/app/shared/variables";

.navbar {
  background: $primary;
  max-height: 3rem;
  padding: 5px 10px 5px 10px;
}

.navbar__container {
  display: flex;
}

//todo v-align logo
//todo fix color on select logo
.navbar__logo {
  max-width: 50px;
  max-height: 50px;
  filter: invert(100%);
}

.navbar__title {
  color: white;
  font-size: 1.7rem;
}
