<input [(ngModel)]="task" placeholder="Rewrite the law" type="text">
<div class="severity">
  <img [ngStyle]="{'active':edittingTodo!.severity===0}" alt="low" class="severity-icon"
       src="assets/images/one-chevron-up.svg">
  <img [ngStyle]="{'active':edittingTodo!.severity===1}" alt="middle" class="severity-icon"
       src="assets/images/two-chevrons-up.svg">
  <img [ngStyle]="{'active':edittingTodo!.severity===2}" alt="high" class="severity-icon"
       src="assets/images/three-chevrons-up.svg">
</div>
<input [(ngModel)]="dueDate" type="datetime-local">
<div class="bottom_buttons">
  <button (click)="cancel()">Cancel</button>
  <button (click)="save()">Save</button>
</div>
