@import "src/app/shared/variables";

.todo_container {
  display: flex;
  justify-content: space-between;
  opacity: .6;
  align-items: center;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 15px;
  color: white;

  cursor: pointer;
}

.deadline_severity {
  display: flex;
}

.todo_task_input {
  outline: none;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 550px;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown {
  border-radius: 15px;
  height: 30px;
}

.deadline {
  margin-right: 18px;
  border-radius: 25px;
}

.severity {
  display: flex;
  align-items: center;
}

.severity img {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.severity img.active {
  width: 30px;
  height: 30px;
}

