<div class="todo_container">
  <input
    class="todo_task_input"
    [(ngModel)]="task"
    placeholder="Add 2Do..."
    type="text"
  >
  <!--  <span>-->
  <!--    <select class="dropdown" [(ngModel)]="selectedLink" (ngModelChange)="link($event)">-->
  <!--&lt;!&ndash;      <option [ngValue]="null">Link to another todo (optional)</option>&ndash;&gt;-->
  <!--&lt;!&ndash;      <option&ndash;&gt;-->
  <!--&lt;!&ndash;        *ngFor="let todo of todos"&ndash;&gt;-->
  <!--&lt;!&ndash;        [ngValue]="todo"&ndash;&gt;-->
  <!--&lt;!&ndash;      >{{todo.task}}</option>&ndash;&gt;-->
  <!--    </select>-->
  <!--  </span>-->
  <span>
    <select (ngModelChange)="link($event)" [(ngModel)]="selectedLink" class="dropdown">
      <option [ngValue]="null">Link to another todo (optional)</option>
      <option
        *ngFor="let todo of todos"
        [ngValue]="todo"
      >{{todo.task}}</option>
    </select>
  </span>

  <div class="deadline_severity">
    <div class="deadline">
      <input [(ngModel)]="dueDate" type="datetime-local">
    </div>
    <div class="severity">
      <img
        (click)="onSeverityIconClick(0)"
        [ngClass]="{'active':activeSeverity===0}"
        alt="low severity"
        src="assets/images/one-chevron-up.svg">
      <img
        (click)="onSeverityIconClick(1)"
        [ngClass]="{'active':activeSeverity===1}"
        alt="middle severity"
        src="assets/images/two-chevrons-up.svg">
      <img
        (click)="onSeverityIconClick(2)"
        [ngClass]="{'active':activeSeverity===2}"
        alt="high severity"
        src="assets/images/three-chevrons-up.svg">
    </div>
  </div>
</div>
