@import "src/app/shared/variables";

.todo_container {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  color: white;
  cursor: pointer;
  position: relative;
}

.todo_container:active {
  transform: translateY(5px) translateX(5px);
  box-shadow: 1px 1px 10px #888888;
}

.main_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_container__task {
  color: #fff;

  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
  top: 4px;
  opacity: 1;
}

.deadline_severity {
  display: flex;
}

.subtodo {
  display: block;
}

.todo_container.done {
  background-color: #55efc4;
  opacity: .4;
  padding: 5px 15px;
}

.todo_task_input {
  outline: none;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 550px;
  padding-left: 10px;
  padding-right: 10px;
}

.deadline {
  margin-right: 18px;
}

.deadline .deadline_calendar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.severity {
  display: flex;
  align-items: center;
}

.severity img {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.delete_btn {
  color: red;
}

.shrink_expand_todo {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 50%;
  transform: translateY(50%);
  animation: bounce alternate ease infinite .75s;
}

@keyframes bounce {
  0% {
    transform: translateY(45%);
  }
  100% {
    transform: translateY(50%);
  }
}

.subtodo_row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subtodo__checkbox {
  width: 15px;
  height: 15px;
}
