@import "src/app/shared/variables";

.todo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 15px;
  padding: 15px;
  color: white;

  cursor: pointer;
}

.todo_container:active {
  transform: translateY(5px) translateX(5px);
  box-shadow: 1px 1px 10px #888888;
}

.check_task_container {
  display: flex;
  align-items: center;
}

.check_btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid #bdc3c7;
  margin-right: 15px;
  background-color: white;
}

.todo_container__task {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  //text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
  top: 4px;


  color: #fff;
  text-shadow: 0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px #0fa,
  0 0 80px #0fa,
  0 0 90px #0fa,
  0 0 100px #0fa,
  0 0 150px #0fa;
}

.deadline_severity {
  display: flex;
}

.check_btn.done {
  background-color: green;
}

.todo_task_input {
  outline: none;
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 550px;
  padding-left: 10px;
  padding-right: 10px;
}

.deadline {
  margin-right: 18px;
}

.deadline .deadline_calendar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.severity {
  display: flex;
  align-items: center;
}

.severity img {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.delete_btn {
  color: red;
}
