<div class="card">
  <h1 class="card__title">UI</h1>
  <div class="card__content">
    <div class="content__row">
      <span>Background image:</span>
      <span>
        <mat-icon (click)="onGalleryClick()" class="icon">photo</mat-icon>
      </span>
    </div>
    <div class="content__row">
      <span>Language</span>
      <span>
        <mat-icon class="icon">photo</mat-icon>
      </span>
    </div>
    <div class="content__row">
      <span>Theme</span>
      <span>
        <mat-icon class="icon">photo</mat-icon>
      </span>
    </div>
  </div>
</div>
