.add-todo {
  margin-bottom: 70px;
  display: block;
}

.todo-view {
  display: block;
  margin-bottom: 15px;
}

.todo-view:last-child {
  margin-bottom: 0;
}

.chips {
  display: block;
  margin-bottom: 10px;

  chip {
    margin-right: 10px;
  }

  chip:last-child {
    margin-right: 0;
  }
}
