<add-todo
  (onAddTodo)="onAddTodo($event)"
  [todos]="todos"
  class="add-todo"
></add-todo>
<div class="chips">
  <chip
    (onClick)="onChipClicked(tag, $event)"
    *ngFor="let tag of tags"
    [active]="tag.active"
  >{{tag.tag}}</chip>
  <chip
    (onChipAdded)="onChipAdded($event)"
    mode="add"
  ></chip>
</div>
<todo-view
  (onComplete)="onChecked(todo, $event)"
  (onDelete)="onDelete(todo.publicId!)"
  (onEdit)="onEdit(todo)"
  (onSubtodoCheck)="onCheckSubtodo(todo)"
  *ngFor="let todo of todos"
  [checkSound]="checkSound"
  [todo]="todo"
  class="todo-view"
></todo-view>
